*{
  padding:0;
  margin:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*esto es lo de la barra de arriba del panel de control*/

ul.menu-li-control {
    position: absolute;
    right: 0;
    top: 0;
    margin: auto;
    background: none;
}

.input-large {
    width: 210px;
    }

a.btn-agregar,a.btn-agregar,
  input[type='submit'].btn-agregar, 
    button[type='button'].btn-agregar {
  margin: 0 auto !important;
  display: block !important;
  margin-top: 5px !important;
  background: #3a87ad;
  text-shadow: none;
  color: #fff;
}


ul li:first-child {
    border-radius: 8px 0 0 8px;
}
.breadcrumb > li {
    display: inline-block;
    *display: inline;
    text-shadow: 0 1px 0 #fff;
    *zoom: 1;
}
li {
    line-height: 20px;
}
.breadcrumb {
    list-style: none;
}


.breadcrumb {
    padding: 8px 15px;
    margin: 0 0 20px;
    list-style: none;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.breadcrumb>li>.divider {
    padding: 0 5px;
    color: #ccc;
}
/*aqui termina la barra del panel de contro*/


#logo{
  width: 250px;
  height: 55px;
  }
    h1{
    color: #3f9b8c;
    font-size: 22px;
  }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
     border-color: transparent; 
}

ul li a:hover
{
  text-decoration:none !important;
  
}


.sf-menu li li {
  background: white;
  border-radius: 0;
 font-family: Arial !important;
    font-size: 12px !important;
    font-weight: normal;
}



.nav .navbar-nav .sf-menu ul:hover li {
  color: blue;
}



.sf-menu .dropdown li:hover a {
  color: #000;
}

/*esto es lo que hace que se ponga el fondo azul en los */
.sf-menu li li:hover a {
  color: white;
  background-color: #486ba5;
border-radius: 6px 6px 6px 6px;

}

.sf-menu li li:hover li a {
  color: white;
  background-color: white;
}

.sf-menu li li:hover li:hover a {
  color: white;
  background-color: #486ba5;
}

.sf-menu .dropdown-menu li li:hover li:hover a {
  color: white;
  background-color: #486ba5;
}

/*fondo azul*/



.sf-menu li:hover,.sf-menu li.sfHover,.sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active
  {
  background-color: white;
  
}

.sf-menu a, .sf-menu a:visited {
    color: white;
}

/*esto es para la letra*/
.sf-menu {
    font-family: Arial !important;
    font-size: 12px !important;
    font-weight: normal;
  }


  .navbar-default .navbar-nav li:hover a {
    color: #2f6fa9;
    display: block;
    }
/*---------------*/

.navbar-default {
    background-color: #3f9b8c;
    border-color: #fcf8e3;
}

.navbar .navbar-default .navbar-static-top
{
  width: 20vw;
    margin: 0 1rem;
}

.navbar .navbar-default  {
    height: 0;
    overflow: hidden;
}

.sf-menu li:hover ul, .sf-menuli:focus ul {
    height: auto;
}

.navbar-default .navbar-nav>li>a
 {
    color: #fff;
  }
.navbar-default .navbar-nav>li>a:hover
 {
    color: #2f6fa9 ;
  }

  .navbar-default .navbar-nav li:hover   a {
  color: #2f6fa9;
}
  .navbar-default .navbar-nav li:hover  li a {
  color: #323130;
}

.navbar-static-top {
    border-radius: 10px;}




/*esto es para po*/

  #navbar {
    text-align: center;
    width: 700px;
  }
 